VITE_SUPABASE_URL=https://shhrwdumltoujfoobgcj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNoaHJ3ZHVtbHRvdWpmb29iZ2NqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MTE3NDgsImV4cCI6MjA4OTQ4Nzc0OH0.6BXSzBx4wcWaicqoyNlibZ6lCrjTPuRqjJ6V2yf8nxQ
VITE_VAPID_PUBLIC_KEY=BFbHw2ugcRuLU89C1E1GRt3sCFEVxrC-mftzanIwNpNrZITBvnk9NDo5V3pDXIWSZOT6gfgIZwESTNPuusbcY8E
VAPID_PRIVATE_KEY=voueYx6d4oVdsur_XIwYR3Vekkwoi_WsWDvyz3FVAGw
VAPID_SUBJECT=mailto:yashnarbekcg@gmail.com
VITE_SENTRY_DSN=https://34071106a0fa0ce02dba1f4572e87c78@o4511422918885376.ingest.de.sentry.io/4511422933106768